@import url('https://fonts.googleapis.com/css2?family=Metrophobic&display=swap');

* {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.image-logo {
  height: 40px;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  position: sticky;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  padding: 0 50px;
  height: 100%;
  color: white;
  font-family: 'Sen', sans-serif;
}

.logo-container {
  flex: 1;
}

.logo {
  font-size: 30px;
  color: #4dbf00;
}

.menu-container {
  flex: 6;
}

#toggler,
label {
  display: none;
}

.profil ul {
  display: block;
  padding: 5px;
  margin: 0;
  background: none;
  /* float: left; */
}

.profil ul li {
  list-style: none;
  display: inline-block;
}

.profil ul li a {
  margin: 0;
  display: block;
  text-decoration: none;
}

.profil ul li a:hover {
  display: block;
  background: #222;
  box-shadow: inset 0px 0px 5px #000;
}

.profil ul li .profil-dropdown {
  display: none;
}

.profil ul li:hover .profil-dropdown {
  display: block;
  background: black;
  position: absolute;
  padding: 10px;
  right: 10;
}

.profil ul li:hover .profil-dropdown li {
  display: block;
}

.profil ul li:hover .profil-dropdown li a {
  padding: 10px;
  border-radius: 5px;
  /* margin-bottom: 5px; */
}
.profil ul li:hover .profil-dropdown li a:hover {
  background: #bf0023;
  padding: 10px;
  box-shadow: inset 0px 0px 5px #000;
}

a.active {
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
  color: white;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 25px;
}

.menu-list-item {
  margin-right: 30px;
}

.menu-list-item.active {
  font-weight: bold;
}
.profile-container {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.profile-text-container {
  margin: 0 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

/* .toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
} */

/* .toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  position: absolute;
  right: 1px;
  border-radius: 50%;
  cursor: pointer;
  transition: 1s ease all;
} */

.sidebar {
  width: 50px;
  height: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.left-menu-icon {
  color: white;
  font-size: 20px;
  margin-bottom: 40px;
}

.container {
  background-color: #151515;
  min-height: calc(100vh - 50px);
  color: white;
}

.content-container {
  margin-left: 50px;
}

.featured-content {
  height: 40vh;
  padding: 30px;
  background-size: cover;
  background-position: center;
}

.featured-title {
  font-family: 'Metrophobic', sans-serif;
  font-weight: 100;
  color: rgb(236, 60, 21);
  text-shadow: 2vh;
  /* width: 200px; */
}

.featured-desc {
  width: 500px;
  color: lightgray;
  margin: 30px 0;
}

.featured-button {
  background-color: #4dbf00;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: bold;
}

.movie-list-container {
  padding: 0 10px;
}

.movie-list-wrapper {
  position: relative;
  overflow: hidden;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: auto;
  padding: 10px;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  justify-content: center;
}

.movie-list-item {
  margin-right: 25px;
  position: relative;
}

.movie-list-item:hover .movie-list-item-img {
  transform: scale(1.05);
  margin: 0 8px;
  opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-title,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-item-button {
  opacity: 1;
}

.movie-list-item-img {
  transition: all 1s ease-in-out;
  width: 210px;
  height: 300px;
  border-radius: 20px;
}

.movie-list-item-title {
  padding: 0 10px;
  /* margin: 30px; */
  font-size: 16px;
  font-weight: bold;
  /* justify-content: center; */
  position: absolute;
  top: 10%;
  left: 30px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-desc {
  padding: 10px;
  font-size: 10px;
  position: absolute;
  text-align: center;
  top: 25%;
  left: 10px;
  width: 170px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.movie-list-item-button {
  padding: 10px;
  background-color: #4dbf00;
  color: white;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  left: 30px;
  opacity: 0;
  transition: 1s all ease-in-out;
}

.arrow {
  font-size: 120px;
  position: absolute;
  top: 90px;
  right: 0;
  color: lightgray;
  opacity: 0.5;
  cursor: pointer;
}

/* .container.active {
  background-color: white;
}

.movie-list-title.active {
  color: black;
}

.navbar-container.active {
  background-color: white;

  color: black;
}

.sidebar.active {
  background-color: white;
}

.left-menu-icon.active {
  color: black;
} */

/* .toggle.active {
  background-color: black;
}

.toggle-ball.active {
  background-color: white;
  transform: translateX(-20px);
} */

@media only screen and (max-width: 940px) {
  .menu-container {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  label {
    display: inline-flex;
    position: absolute;
    right: 10;
  }

  #toggler:checked ~ .menu-container {
    max-height: 100%;
  }

  .menu-list {
    flex-direction: column;
    position: absolute;
    right: 10;
    background: black;
  }

  .featured-content {
    height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
  .featured-desc {
    width: auto;
    font-size: 20px;
  }
  /* 
  .menu-container {
    display: none;
  } */

  .movie-list {
    height: auto;
  }

  .movie-list-item-img {
    margin-top: 30px;
    width: 245px;
    height: 320px;
  }

  .movie-list-item-title {
    left: 55px;
  }

  .movie-list-item-desc {
    left: 30px;
  }

  .movie-list-item-button {
    left: 63px;
    height: 30px;
    bottom: 80px;
    width: 130px;
  }

  .movie-list-wrapper {
    overflow: visible;
  }

  .movie-list-item:hover .movie-list-item-img {
    margin: 30px 0;
  }
}
